.logo {
    width: 50%;
    padding: 12px;
}

.icon-button {
    height: 5em;
    width: 5em;
    padding: 0;

    mat-icon {
        width: 75%;
        font-size: 3em;
    }
}

.nav-link {
    padding: 24px;
    text-align: center;
    display: none;
    font-weight: 100;

    &.selected {
        font-weight: 400;
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
}

@media (min-width: 450px) and (max-width: 900px) {
    .logo {
        width: 20%;
    }
}

@media (min-width: 900px) {
    .logo {
        width: 20%;
        padding: 24px;
    }

    .icon-button {
        display: none;
    }

    .nav-link {
        display: initial;
    }
}
