@import '../../styles/variables.scss';

.fighter-background-image {
    width: 100%;
    z-index: 1;
    margin-bottom: -6px;
}

.fighter-1 {
    position: relative;
    left: -50px;
    transition: left 0.5s linear;
}

.fighter-2 {
    position: absolute;
    right: -50px;
    transition: right 0.5s linear;
}

@media (min-width: 400px) {
    .fighter-image {
        display: none;
    }

    .fighter-1 {
        left: 0px;
    }

    .fighter-2 {
        right: 0px;
    }
}

@media (max-width: 400px) {
    .fighter-image {
        display: none;
    }
}

.headline-info {
    z-index: 2;
}

.shadow-bottom {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    z-index: 3;
}

.name,
.name1,
.name2,
.name-middle,
.match-name,
.vs,
.number {
    color: $off-white-font;
}

.headline-info {
    text-transform: uppercase;
    color: $white;
    padding-top: 3em;
}

.match-name {
    padding: 6px 0;
    font-weight: 300;
}

.match-date,
.match-location {
    font-size: 1.2em;
}

.match-name,
.match-date,
.match-location {
    width: 100%;
    text-align: center;
}

.combatants {
    line-height: 4em;
    text-align: center;
}

.combatant,
.number {
    font-family: "nimbus-sans-condensed";
    font-size: 4em;
    font-weight: bold;
}

.vs {
    transform: rotate(270deg);
    display: inline-block;
    text-align: center;
    position: relative;
    bottom: 0.8em;
}

.name {
    text-align: center;
}

.name1,
.name2 {
    font-size: 2.5em;
    font-weight: bold;
}

.name-middle {
    display: inline-block;
    width: 2em;
    text-align: center;
    font-size: 1em;
    line-height: 0.8em;
}

.purchase-buttons {
    text-align: center;
    text-transform: uppercase;

    button {
        text-transform: uppercase;
        background: $red;
        border: none;
        height: 36px;
        width: 40%;
        line-height: 24px;
        font-family: "nimbus-sans-condensed";
    }
}
