@import '../../styles/variables.scss';

.headline {
    .fighter-background-image {
        width: 100%;
        z-index: 1;
        margin-bottom: -6px;
    }

    .purchase-button-wrapper {
        display: inline-block;
        width: 45%;
    }

    .fighter-1 {
        position: relative;
        left: -50px;
        transition: left 0.5s linear;
    }

    .fighter-2 {
        position: absolute;
        right: -50px;
        transition: right 0.5s linear;
    }

    .headline-info {
        z-index: 2;
    }

    .shadow-bottom {
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
        z-index: 3;
    }

    .name,
    .name1,
    .name2,
    .name-middle,
    .match-name,
    .vs,
    .number {
        color: $off-white-font;
    }

    .headline-info {
        text-transform: uppercase;
        color: $white;
        padding-top: 3em;
    }

    .match-name {
        padding: 6px 0;
        font-weight: 300;
    }

    .match-date,
    .match-location {
        font-size: 1.2em;
    }

    .match-name,
    .match-date,
    .match-location {
        width: 100%;
        text-align: center;
    }

    .combatants {
        line-height: 4em;
        text-align: center;
    }

    .combatant,
    .number {
        font-family: "nimbus-sans-condensed";
        font-size: 4em;
        font-weight: bold;
    }

    .vs {
        transform: rotate(270deg);
        display: inline-block;
        text-align: center;
        position: relative;
        bottom: 0.8em;
    }

    .name {
        text-align: center;
    }

    .name1,
    .name2 {
        font-size: 2.5em;
        font-weight: bold;
    }

    .name-middle {
        display: inline-block;
        width: 2em;
        text-align: center;
        font-size: 1em;
        line-height: 0.8em;
    }

    .or {
        font-family: "nimbus-sans-extended";
        transform: rotate(270deg);
        display: inline-block;
    }

    .purchase-buttons {
        text-align: center;
        text-transform: uppercase;
        position: absolute;
        top: 75%;
        z-index: 4;
        width: 100%;
        
    }

    .purchase-button {
        text-transform: uppercase;
        background: $red;
        border: none;
        height: 48px;
        width: 100%;
        line-height: 48px;
        font-family: "nimbus-sans-condensed";
        font-weight: bold;
        cursor: pointer;

        mat-icon {
            vertical-align: top;
            font-size: 2em;
            line-height: 48px;
            margin-right: 3px;
        }
    }

    @media (min-width: 900px) {
        .fighter-1-bg {
            left: 0px !important;
        }

        .fighter-2-bg {
            right: 0px !important;
        }

        .fighter-background-image {
            width: 50%;
            z-index: 0;
        }

        .fighter-image {
            position: absolute;
            width: 50%;
            bottom: 0;
        }

        .purchase-buttons {
            top: 55%;
        }

        .buttons-wrapper {
            width: 450px;
            margin: 0 auto;
        }

        .purchase-button {
            margin: 3px;
            width: calc(100% - 6px);
        }

        .purchase-button-wrapper {
            outline: 1px solid transparent;
        }

        .purchase-button-wrapper:hover {
            outline: 1px solid $red;
        }
    }

    @media (min-width: 450px) {
        .headline-info {
            width: 100%;
            position: absolute;
        }
    }

    @media (min-width: 450px) and (max-width: 900px) {

        .fighter-background-image {
            width: 55%;
        }

        .purchase-buttons {
            top: 60%;
        }
    }

    @media (max-width: 900px) {
        .fighter-image {
            display: none;
        }
    }
}
