.logo {
    width: 50%;
    margin: 30px auto;
    display: block;
}

.footer-link {
    width: 50%;
    float: left;
    padding: 12px 0 12px 10%;
    box-sizing: border-box;

    > a {
        text-decoration: none;
        font-weight: 300;
    }
}

.copyright {
    display: block;
    text-align: center;
    margin: 0 auto;
    padding: 36px 0;
    font-weight: 300;
}