.logo {
    width: 50%;
    margin: 30px auto;
    display: block;
}

.footer-link {
    width: 50%;
    float: left;
    padding: 12px 0 12px 10%;
    box-sizing: border-box;

    > a {
        font-weight: 300;
    }
}

.copyright {
    display: block;
    text-align: center;
    margin: 0 auto;
    padding: 36px 0;
    font-weight: 300;
}

@media (min-width: 900px) {
    .logo {
        width: 20%;
    }

    .footer-link {
        width: 20%;
        padding: 0;
    }

    .links {
        width: 75%;
        margin: 0 auto;
    }
}